include AUTHORS.rst
include CHANGELOG.rst
include INSTALL.rst
include COPYING.rst
include README.rst
include TODO.rst
recursive-include docs *
recursive-include examples *
exclude pushnotify/tests/nmakeys.py
exclude pushnotify/tests/prowlkeys.py
exclude pushnotify/tests/pushoverkeys.py
